body{
	background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 24px;
  color: #070707;
}
a {
  color: #000000;
}
a:hover {
  color: #4e4e4e;
}
.Header{
	background-color: #fff;
  padding: 1rem 1.8rem;
  border-bottom: 1px solid #E5E2E2;
}
.footer{
	background-color: #fff;
  padding: 1rem 2.1rem;
  border-top: 1px solid #E5E2E2;
}
.Header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header__row__left-part {
  display: flex;
  align-items: center;
}
.Header__row__right-part {
  display: flex;
  align-items: center;
}
.main{
	order: 1;
	flex: 8;
  padding: 2rem 2.25rem 2rem;
}
.flexbox-container{
	display: flex;
	width: 100%;
}
.page-header h2 {
  font-size: 24px;
  color: #070707;
}
.page-header h2 span {
  font-size: 18px;
  color: #2ECC71;
}
.components-section {
  display: block;
}
.component-container {
  padding: 18px 24px;
  margin-bottom: 10px;
  background:  #fff;
  border: 1px solid #E5E2E2;
}
.component-inner-container::before {
  display: inline-block;
  content: " ";
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 10px;
}
.component-title {
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 500;
    max-width: 75%;
    font-size: 18px;
    color: #414141;
}
.component-status {
  position: relative;
  display: block;
  float: right;
  width: 90px;
  text-align: center;
	font-size: 14px;
}

.component-status::before {
  display: block;
  content: " ";
  position: absolute;
  left: -22px;
  top: -18px;
  height: 59px;
  border-left: 1px solid #E5E2E2;
}
.sidebar{
	order: 1;
	flex: 1;
	background-color: #fff;
  flex-basis: auto;
  padding: 30px;
  min-height: 666px;
}
.incidents-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.status-container {
  position: relative;
  padding: 12px 0;
}

.status-container::before {
  display: inline-block;
    content: " ";
    margin: 0 10px 0 0;
    width: 6px;
    height: 6px;
    background: #FDC809;
    position: absolute;
    left: -16px;
    top: 17px;
}
.status-date {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.status-update {
  font-size: 12px;
  font-weight: normal;
  color: #4F4F4F;
}
.status-update span {
  font-size: 12px;
  font-weight: normal;
}

.incidents-block {
  position: relative;
  margin-bottom: 20px;
}
.incidents-block::before {
  display: inline-block;
    content: " ";
    margin: 0 10px 0 0;
    width: 6px;
    height: 6px;
    background: #FDC809;
    position: absolute;
    left: -16px;
    top: 5px;
}
.incidents-block .status-date {
  padding: 0 0 5px;
  margin: 0 0 10px;
  border-bottom: 1px solid #E5E2E2;
}
.status-update-list {
  margin: 0 0 0 15px;
  padding: 0;
}
.status-update-list li {
  padding: 3px 0;
  font-size: 12px;
  font-weight: normal;
  color: #4F4F4F;
}

.component-success .component-inner-container::before {
  background: #2ECC71;
}
.component-success .component-status,
.status-success .state {
  color: #2ECC71;
}
.component-down .component-inner-container::before {
  background: #FF3D00;
}
.component-down .component-status,
.status-down .state {
  color: #FF3D00;
}
.component-pending .component-inner-container::before {
  background: #FEC808;
}
.component-pending .component-status,
.status-pending .state {
  color: #FEC808;
}
/* mobile layout */
@media (max-width: 480px){
	.container{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		width: 100%;

		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
    -ms-flex-orient: vertical;
    -webkit-orient: vertical;
    orient: vertical;
	}

}
